pipeline/HighWaterMark_Example.json
{
	"name": "HighWaterMark_Example",
	"properties": {
		"activities": [
			{
				"name": "Get HMW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CSV_DS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Max Date from Database",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get HMW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(ModifiedDate) AS LastUpatedDate FROM SalesLT.Customer;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Generic_SQL_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"tableName": "Customer"
						}
					}
				}
			},
			{
				"name": "Copy data from table to file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Max Date from Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from SalesLT.Customer WHERE ModifiedDate > '@{activity('Get HMW').output.firstRow.Prop_0}' AND ModifiedDate <= \n    '@{activity('Get Max Date from Database').output.firstRow.LastUpatedDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Generic_SQL_DS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"tableName": "HMW"
						}
					}
				]
			},
			{
				"name": "Update latest date to HMW file",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data from table to file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select '@{activity('Get Max Date from Database').output.firstRow.LastUpatedDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SQL_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CSV_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-10T14:08:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}